{% extends 'template_admin.html' %}
{% block title %}Add client{% endblock %}
{% block content %}
    <form action="{{ url_for('add_bank_account') }}" method="post">
        <div class="container" style="margin-top: 200px">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="emp_last_name" style="color: white">IBAN:</label>
                        <input type="text" class="form-control" id="emp_last_name" name="IBAN">
                    </div>
                    <div class="form-group">
                        <label for="emp_last_name" style="color: white">Limita Tranzactioanre</label>
                        <input type="text" class="form-control" id="emp_last_name" name="limita_tranzactionare" value="50000">
                    </div>
                    <div class="form-group">
                        <label for="emp_last_name" style="color: white">Moneda</label>
                        <input type="text" class="form-control" id="emp_last_name" name="in_moneda" value="RON">
                    </div>
                    <div class="form-group">
                        <label for="emp_last_name" style="color: white">Sold</label>
                        <input type="text" class="form-control" id="emp_last_name" name="sold" value="0">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}